# Aula 2: Coleções e Funções

## Lambda Expressions
São expressões de uma única linha que tem o objetivo de substituirem funções completas que são criadas apenas para uma mesma finalidade. As expressões lambda também são conhecidas por serem funções anônimas.

In [1]:
def quadrado(numero):
    resultado = numero**2
    return resultado

In [2]:
quadrado(5)

25

In [3]:
def quadrado(numero):
    return numero**2

In [4]:
quadrado(4)

16

In [5]:
def quadrado(numero): return numero**2

In [6]:
quadrado(3)

9

In [7]:
quadrado = lambda numero: numero**2

In [8]:
quadrado(2)

4

In [9]:
is_even = lambda num: num%2 == 0

In [10]:
is_even(5)

False

In [11]:
is_even(0)

True

In [12]:
is_even(2)

True

Utilizando dois operadores

In [17]:
def soma(num1, num2):
    return num1 + num2

In [18]:
soma(1,2)

3

In [19]:
soma = lambda num1, num2: num1 + num2

In [20]:
soma(3,1)

4

In [21]:
def multiplicacao(num1, num2, num3):
    return num1*num2*num3

In [22]:
multiplicacao(1,2,3)

6

In [23]:
multiplicacao = lambda x1,x2,x3: x1*x2*x3

In [24]:
multiplicacao(1,2,3)

6

In [25]:
string_len = lambda s: len(s)

In [26]:
string_len("Hoje o dia de aula foi bem interessante")

39

## Built-In Functions (Collections)
Funções built-in indicadas para uso em coleções para tratamento similar a tabelas.

### Counter
Conta o número de ocorrências de objetos hash, ou objetos únicos em uma lista.

In [58]:
from collections import Counter

lista = [1,1,1,1,2,2,22,2,2,2,4,5,65,3,3,3]
Counter(lista)

Counter({1: 4, 2: 5, 3: 3, 4: 1, 5: 1, 22: 1, 65: 1})

In [63]:
lista = "kljlkqjqj321;k3;kkdla"
Counter(lista)

Counter({'1': 1,
         '2': 1,
         '3': 2,
         ';': 2,
         'a': 1,
         'd': 1,
         'j': 3,
         'k': 5,
         'l': 3,
         'q': 2})

Contagem do número de palavras de uma frase

In [67]:
frase = "Os trabalhadores fizeram um reparo de emergência naquele poço de água do prédio de trás."
palavras = frase.split(" ")
contador = Counter(palavras)
contador

Counter({'Os': 1,
         'de': 3,
         'do': 1,
         'emergência': 1,
         'fizeram': 1,
         'naquele': 1,
         'poço': 1,
         'prédio': 1,
         'reparo': 1,
         'trabalhadores': 1,
         'trás.': 1,
         'um': 1,
         'água': 1})

In [68]:
contador.most_common(3)

[('de', 3), ('Os', 1), ('trabalhadores', 1)]

In [70]:
sum(contador.values())

15

In [73]:
lista = [1,1,1,2,3,4,4]
set(lista)

{1, 2, 3, 4}

### Default Dicitionary

In [76]:
d = {}
d["chave"]

KeyError: 'chave'

In [77]:
from collections import defaultdict

In [78]:
dd = defaultdict(object)

In [79]:
dd["chave"]

In [80]:
for item in dd:
    print(item)

chave

In [81]:
dd_2 = defaultdict(lambda : 0)

In [82]:
dd_2["chave"]

0

In [84]:
for item in dd_2:
    print(item)
    print(dd_2[item])

chave
0

### Named Tuples
Forma simplificada de se criar classes.

In [1]:
tupla = (1, 2, 3)

In [3]:
tupla[0]

1

In [4]:
tupla[0] = 2

TypeError: 'tuple' object does not support item assignment

In [6]:
from collections import namedtuple

Cachorro = namedtuple("Cachorro", "nome raca peso cor")

In [7]:
cachorro_1 = Cachorro(nome="Totó", raca="Pastor Alemão", peso=80, cor="Azul")

In [8]:
cachorro_1

Cachorro(nome='Totó', raca='Pastor Alemão', peso=80, cor='Azul')

In [9]:
cachorro_1.raca="Vira Lata"

AttributeError: can't set attribute

### Map

In [1]:
def kph_to_mph(kmh):
    mph =  0.6214 * kmh
    return mph

In [2]:
def mph_to_kph(mph):
    kmh =  mph / 0.6214
    return kmh

In [3]:
kph_to_mph(88)

54.6832

In [4]:
mph_to_kph(54.6832)

88.0

In [5]:
velocidades_kph = [100, 124, 200, 150, 178, 182]
velocidades_mph = list(map(kph_to_mph, velocidades_kph))

In [6]:
velocidades_mph

[62.13999999999999,
 77.05359999999999,
 124.27999999999999,
 93.21,
 110.60919999999999,
 113.09479999999999]

Utilizando uma expressão _lambda_

In [7]:
velocidades_mph = list(map(lambda v: (0.6214)*v, velocidades_kph))

In [8]:
velocidades_mph

[62.13999999999999,
 77.05359999999999,
 124.27999999999999,
 93.21,
 110.60919999999999,
 113.09479999999999]

In [9]:
lista_1 = [1, 2, 3, 4]
lista_2 = [1, 2, 3, 4]
lista_3 = [1, 2, 3, 4]

lista_soma = list(map(lambda a, b, c: (a + b + c), lista_1, lista_2, lista_3))
lista_soma

[3, 6, 9, 12]

### Reduce

In [10]:
import functools

lista = [1, 2, 3, 4, 5, 6]
lista_soma = functools.reduce(lambda x, y: (x + y), lista)
lista_soma

21

In [11]:
lista = range(100)
max_value = functools.reduce(lambda x, y: x if x > y else y, lista)
max_value

99

### Filter

In [12]:
def is_par(num):
    resto = num % 2
    if resto == 0:
        return True
    else:
        return False

In [13]:
lista_num = range(10)
lista_par = list(filter(is_par, lista_num))
lista_par

[0, 2, 4, 6, 8]

In [14]:
lista_impar = list(filter(lambda x: x%2 !=0, lista_num))
lista_impar

[1, 3, 5, 7, 9]

### Zip

In [15]:
lista_1 = [1, 2, 3]
lista_2 = [4, 5, 6]

list(zip(lista_1, lista_2))

[(1, 4), (2, 5), (3, 6)]

In [22]:
maior_numero_lista = map(lambda par: max(par), list(zip(lista_1, lista_2)))
list(maior_numero_lista)

[4, 5, 6]

### Enumerate

In [33]:
lista = range(1, 6)

for item in lista:
    print(item)

1
2
3
4
5

In [34]:
for indice, item in enumerate(lista):
    print("%s - %s" %(indice, item))

0 - 1
1 - 2
2 - 3
3 - 4
4 - 5

### All e Any

In [39]:
lista = [True, True, True, True]
all(lista)

True

In [40]:
lista_alt_1 = [True, False, True, True]
any(lista_alt_1)

True

In [41]:
lista_alt_2 = [False, False, False, False]
any(lista_alt_2)

False

### Set e List

In [10]:
palavra = "Paralelepípedo"

In [12]:
list(palavra)

['P', 'a', 'r', 'a', 'l', 'e', 'l', 'e', 'p', 'í', 'p', 'e', 'd', 'o']

In [13]:
set(palavra)

{'P', 'a', 'd', 'e', 'l', 'o', 'p', 'r', 'í'}

## Geradores e Iteradores
Geradores são estruturas parecidas com funções, mas se diferem por não ter que retornar um valor final definitivo, mas parcelas desta resultado sem precisar armazenar todo o seu valor.
Iteradores são interfaces que permitem navegar seu conteúdo sem precisar utilizar um laço.

In [31]:
def gerar_quadrados(num):
    for n in range(num):
        yield n**2

In [34]:
for x in gerar_quadrados(5):
    print(x)

0
1
4
9
16

In [37]:
g = gerar_quadrados(3)

In [38]:
next(g)

0

In [39]:
next(g)

1

In [40]:
next(g)

4

In [43]:
x = range(10)

In [45]:
def seq_fibonacci(max_num):
    a, b = 1, 1
    for i in range(max_num):
        yield a
        a, b = b, a+b

In [46]:
for x in seq_fibonacci(5):
    print(x)

1
1
2
3
5

## Exceções
Controle e fluxo de execução para situações onde pode haver erros em tempo de execução.

In [1]:
'a' + 10

TypeError: must be str, not int

In [2]:
try:
    'a' + 10
except TypeError:
    print("Erro de tipo")
else:
    print("Outro erro")
finally:
    print("Operação realizada")

Erro de tipo
Operação realizada

In [7]:
try:
    b = 'a' + 'a'
except TypeError:
    print("Erro de tipo")
except:
    print("Outro erro")
finally:
    print("Operação realizada")

Operação realizada

In [10]:
try:
    f = open("arquivo.txt", "w")
    f.write("Teste")
except:
    print("Falha ao escrever arquivo")
else:
    print("Arquivo escrito com sucesso")

Arquivo escrito com sucesso

In [11]:
try:
    f = open("arquivo.txt", "r")
    f.write("Teste")
except:
    print("Falha ao escrever arquivo")
else:
    print("Arquivo escrito com sucesso")

Falha ao escrever arquivo

In [14]:
def perguntar_idade():
    try:
        nome = int(input("Entre com sua idade"))
    except:
        print("Idade em formato inválido")
    else:
        print("Sua idade é de %s"%(nome))

In [16]:
perguntar_idade()

Entre com sua idadedez
Idade em formato inválido

In [17]:
perguntar_idade()

Entre com sua idade10
Sua idade é de 10

In [18]:
def perguntar_idade():
    check = True
    while check:
        try:
            nome = int(input("Entre com sua idade"))
        except:
            print("Idade em formato inválido")
        else:
            print("Sua idade é de %s"%(nome))
            check = False

In [19]:
perguntar_idade()

Entre com sua idadedez
Idade em formato inválido
Entre com sua idadeqoq
Idade em formato inválido
Entre com sua idade10
Sua idade é de 10

## Datetime
Trabalhando com estruturas de data e hora.

In [20]:
import datetime

In [23]:
time = datetime.time(23,35,0)
print(time)

23:35:00

> Documentação : Shift + Tab

In [46]:
date = datetime.date(2018, 4, 25)
print(date)

2018-04-25

In [30]:
date_time = datetime.datetime(2018, 4, 20, 23, 34)
print(date_time)

2018-04-20 23:34:00

In [53]:
hoje = datetime.date.today()
print(hoje)

2018-04-07

Resoluções

In [25]:
datetime.time.min

datetime.time(0, 0)

In [26]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

In [27]:
datetime.time.resolution

datetime.timedelta(0, 0, 1)

In [31]:
datetime.date.max

datetime.date(9999, 12, 31)

In [32]:
datetime.date.min

datetime.date(1, 1, 1)

In [33]:
datetime.date.resolution

datetime.timedelta(1)

In [34]:
datetime.datetime.min

datetime.datetime(1, 1, 1, 0, 0)

In [35]:
datetime.datetime.max

datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)

In [36]:
datetime.datetime.resolution

datetime.timedelta(0, 0, 1)

In [40]:
data1 = datetime.date(2018, 4, 25)
data2 = datetime.date(2017, 3, 25)
data1 - data2

datetime.timedelta(396)

In [44]:
data_hora1 = datetime.datetime(2018, 4, 25, 20, 0)
data_hora2 = datetime.datetime(2018, 4, 25, 15, 0)
data_hora1 - data_hora2

datetime.timedelta(0, 18000)

In [45]:
5 * 60 * 60

18000

In [56]:
agora = datetime.datetime.now()
print(agora)

2018-04-07 23:16:59.868254

## Expressões Regulares
Estruturas para validação de strings e extração de dados.

In [6]:
import re

padroes = ["prédio", "rua"]
texto = "O prédio que trabalharam ficava na rua de cima."

for padrao in padroes:
    if re.search(padrao, texto):
        print("Encontrado correspondência para %s."%padrao)
    else:
        print("Não encontrado correspondência para %s."%padrao)

Encontrado correspondência para prédio.
Encontrado correspondência para rua.

In [7]:
match = re.search(padrao[0], texto)

In [9]:
match.start(), match.end()

(3, 4)

### Metacaracteres
No exemplo abaixo:
1. sd*: s seguido de NENHUM OU mais ds
2. sd+: s seguido de UM OU mais ds
3. sd?: s seguido de ZERO OU UM  ds
4. sd{3}: s seguido de TRÊS ds
5. sd{2,3}: s seguido de DOIS até TRÊS ds
6. [sd]: s ou d
7. s[sd]+: s seguido de UM OU MAIS s ou d

In [19]:
padroes = ["sd*", "sd+", "sd?", "sd{3}", "sd{2,3}", "[sd]", "s[sd]+"]
frase_teste = "sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd"

for padrao in padroes:
    
    print("Analisando padrao " + padrao + " " + str(re.findall(padrao, frase_teste)))

Analisando padrao sd* ['sd', 'sd', 's', 's', 'sddd', 'sddd', 'sddd', 'sd', 's', 's', 's', 's', 's', 's', 'sdddd']
Analisando padrao sd+ ['sd', 'sd', 'sddd', 'sddd', 'sddd', 'sd', 'sdddd']
Analisando padrao sd? ['sd', 'sd', 's', 's', 'sd', 'sd', 'sd', 'sd', 's', 's', 's', 's', 's', 's', 'sd']
Analisando padrao sd{3} ['sddd', 'sddd', 'sddd', 'sddd']
Analisando padrao sd{2,3} ['sddd', 'sddd', 'sddd', 'sddd']
Analisando padrao [sd] ['s', 'd', 's', 'd', 's', 's', 's', 'd', 'd', 'd', 's', 'd', 'd', 'd', 's', 'd', 'd', 'd', 'd', 's', 'd', 's', 'd', 's', 's', 's', 's', 's', 's', 'd', 'd', 'd', 'd']
Analisando padrao s[sd]+ ['sdsd', 'sssddd', 'sdddsddd', 'sds', 'sssss', 'sdddd']

Removendo pontuação de frases

In [16]:
frase = "Não havia sentido! Aqui que conversaram, sobre o tal assunto, era importante? Imagino que sim; nem todos sabiam."

O metacaractere ^ significa exclusão. Assim podemos criar um padrão para remover acentos. Quando incluídos entre colchetes, indicam combinação OU, ! ou . ou ? ou , ou ; ou _espaço_

In [21]:
padrao = "[^!.?,; ]+"

In [22]:
re.findall(padrao, frase)

['Não',
 'havia',
 'sentido',
 'Aqui',
 'que',
 'conversaram',
 'sobre',
 'o',
 'tal',
 'assunto',
 'era',
 'importante',
 'Imagino',
 'que',
 'sim',
 'nem',
 'todos',
 'sabiam']

No exemplo abaixo:
1. [a-z]+: sequência de letras em minúsculo
2. [A-Z]+: sequência de letras em maiúsculo
3. [a-zA-Z]+: sequência de letras em minúsculo ou maiúsculo
4. [A-Z][a-z]+: sequência de letras em maiúsculo seguido por minúsculo

In [55]:
padroes = ["[a-z]+", "[A-Z]+", "[A-zA-Z]+", "[A-Z][a-z]+"]
frase_teste = "Ontem houve algum problema. Todos vieram resolver. Mas nem todos foram capazes."

for padrao in padroes:
    
    print("Analisando padrao " + padrao + " " + str(re.findall(padrao, frase_teste)))

Analisando padrao [a-z]+ ['ntem', 'houve', 'algum', 'problema', 'odos', 'vieram', 'resolver', 'as', 'nem', 'todos', 'foram', 'capazes']
Analisando padrao [A-Z]+ ['O', 'T', 'M']
Analisando padrao [A-zA-Z]+ ['Ontem', 'houve', 'algum', 'problema', 'Todos', 'vieram', 'resolver', 'Mas', 'nem', 'todos', 'foram', 'capazes']
Analisando padrao [A-Z][a-z]+ ['Ontem', 'Todos', 'Mas']

### Escape Codes
| Código | Significado | 
|--------|-------------|
|  \d    | dígido            |
|  \D    | não dígito            |
|  \s    | espaço em branco (tab, espaço, nova linha, etc.)            |
|  \S    | não espaço em branco            |
|  \w    | alfanumérico            |
|  \W    | não alfanumérico            |

In [28]:
padroes = [r"\d+", r"\D+", r"\s+", r"\S+", r"\w+", r"\W+"]
frase_teste = "O número de carros é de 100 unidades. Nesse caso será utilizado a hashtag #100unidades."

for padrao in padroes:
    
    print("Analisando padrao " + padrao + " " + str(re.findall(padrao, frase_teste)))

Analisando padrao \d+ ['100', '100']
Analisando padrao \D+ ['O número de carros é de ', ' unidades. Nesse caso será utilizado a hashtag #', 'unidades.']
Analisando padrao \s+ [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
Analisando padrao \S+ ['O', 'número', 'de', 'carros', 'é', 'de', '100', 'unidades.', 'Nesse', 'caso', 'será', 'utilizado', 'a', 'hashtag', '#100unidades.']
Analisando padrao \w+ ['O', 'número', 'de', 'carros', 'é', 'de', '100', 'unidades', 'Nesse', 'caso', 'será', 'utilizado', 'a', 'hashtag', '100unidades']
Analisando padrao \W+ [' ', ' ', ' ', ' ', ' ', ' ', ' ', '. ', ' ', ' ', ' ', ' ', ' ', ' #', '.']

### Extraindo dados

In [52]:
padrao = r"\d{2}/\d{2}/\d{4}"
texto = "10/04/2018"
print("Analisando padrao " + padrao + " " + str(re.findall(padrao, texto)))

Analisando padrao \d{2}/\d{2}/\d{4} ['10/04/2018']

In [56]:
padrao = r"(\d{2})/(\d{2})/(\d{4})"
padrao = re.search(padrao, texto)
if padrao is not None:
    print("Match %s, dia %s, mês %s e ano %s"%(padrao.group(0), padrao.group(1), 
                                                         padrao.group(2), padrao.group(3)))

Match 10/04/2018, dia 10, mês 04 e ano 2018