# Aula 4
## Desafio 1
___

Utilize a base de dados relacionados ao estudo de diabetes do PIMAS (pimas-data.csv, diretório data no GitHub), exiba os seguintes valores para o campo “glucose_conc” e “thickness”.

* Valores nulos
* Valores numéricos iguais a 0
* Média
* Máximo 
* Mínimo

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_pimas = pd.read_csv("data/pima-data.csv")
df_pimas.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72.0,35.0,0.0,33.6,0.627,50,1.3790,True
1,1,85,66.0,29.0,0.0,26.6,0.351,31,1.1426,False
2,8,183,NaN,0.0,0.0,23.3,0.672,32,0.0000,True
3,1,89,66.0,NaN,94.0,28.1,0.167,21,0.9062,False
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1.3790,True

Inspeção geral de valores nulos

In [3]:
df_pimas.isnull().any()

num_preg        False
glucose_conc    False
diastolic_bp     True
thickness        True
insulin          True
bmi             False
diab_pred       False
age             False
skin            False
diabetes        False
dtype: bool

In [7]:
df_pimas[df_pimas.isnull().any(axis=1)]

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
2,8,183,NaN,0.0,0.0,23.3,0.672,32,0.0000,True
3,1,89,66.0,NaN,94.0,28.1,0.167,21,0.9062,False
8,2,197,70.0,NaN,543.0,30.5,0.158,53,1.7730,True
11,10,168,74.0,NaN,0.0,38.0,0.537,34,0.0000,True
15,7,100,0.0,0.0,NaN,30.0,0.484,32,0.0000,True

Exibindo linhas com valores nulos de "glucose_conc"

In [18]:
df_pimas[df_pimas["glucose_conc"].isnull()]

Empty DataFrame
Columns: [num_preg, glucose_conc, diastolic_bp, thickness, insulin, bmi, diab_pred, age, skin, diabetes]
Index: []

Exibindo linhas com valores nulos de "thickness"

In [19]:
df_pimas[df_pimas["thickness"].isnull()]

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
3,1,89,66.0,NaN,94.0,28.1,0.167,21,0.9062,False
8,2,197,70.0,NaN,543.0,30.5,0.158,53,1.7730,True
11,10,168,74.0,NaN,0.0,38.0,0.537,34,0.0000,True

Valores iguais a 0 para "glucose_conc"

In [23]:
df_pimas[df_pimas["glucose_conc"] == 0].head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
75,1,0,48.0,20.0,0.0,24.7,0.140,22,0.7880,False
182,1,0,74.0,20.0,23.0,27.7,0.299,21,0.7880,False
342,1,0,68.0,35.0,0.0,32.0,0.389,22,1.3790,False
349,5,0,80.0,32.0,0.0,41.0,0.346,37,1.2608,True
502,6,0,68.0,41.0,0.0,39.0,0.727,41,1.6154,True

Valores iguais a 0 para "thickness"

In [22]:
df_pimas[df_pimas["thickness"] == 0].head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
2,8,183,NaN,0.0,0.0,23.3,0.672,32,0.0,True
5,5,116,74.0,0.0,0.0,25.6,0.201,30,0.0,False
7,10,115,0.0,0.0,0.0,35.3,0.134,29,0.0,False
9,8,125,96.0,0.0,0.0,0.0,0.232,54,0.0,True
10,4,110,92.0,0.0,0.0,37.6,0.191,30,0.0,False

Valores iguais a 0 para "glucose_conc"

In [27]:
df_pimas["glucose_conc"].mean()

120.89453125

In [28]:
df_pimas["glucose_conc"].max()

199

In [31]:
df_pimas["glucose_conc"].min()

0

Valores iguais a 0 para "thickness"

In [25]:
df_pimas["thickness"].mean()

20.5281045751634

In [29]:
df_pimas["thickness"].max()

99.0

In [30]:
df_pimas["thickness"].min()

0.0