# Aula 4
## Desafio 3
___

Diante de campos iguais a zero e nulos, para evitar que seja descartado a linha de dados inteira, implemente alguma forma de imputação de dados que preserve a tendência de valores e não despreze os demais valores.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_pimas = pd.read_csv("data/pima-data.csv")
df_pimas.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72.0,35.0,0.0,33.6,0.627,50,1.3790,True
1,1,85,66.0,29.0,0.0,26.6,0.351,31,1.1426,False
2,8,183,NaN,0.0,0.0,23.3,0.672,32,0.0000,True
3,1,89,66.0,NaN,94.0,28.1,0.167,21,0.9062,False
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1.3790,True

In [4]:
df_pimas.isnull().any()

num_preg        False
glucose_conc    False
diastolic_bp     True
thickness        True
insulin          True
bmi             False
diab_pred       False
age             False
skin            False
diabetes        False
dtype: bool

In [5]:
df_pimas["diastolic_bp"] = df_pimas["diastolic_bp"].replace(np.nan,df_pimas["diastolic_bp"].mean())
df_pimas["thickness"] = df_pimas["thickness"].replace(np.nan,df_pimas["thickness"].mean())
df_pimas["insulin"] = df_pimas["insulin"].replace(np.nan,df_pimas["insulin"].mean())

In [6]:
df_pimas.isnull().any()

num_preg        False
glucose_conc    False
diastolic_bp    False
thickness       False
insulin         False
bmi             False
diab_pred       False
age             False
skin            False
diabetes        False
dtype: bool

In [7]:
df_pimas.isin([0]).sum()

num_preg        111
glucose_conc      5
diastolic_bp     35
thickness       226
insulin         373
bmi              11
diab_pred         0
age               0
skin            227
diabetes        500
dtype: int64

In [8]:
df_pimas["glucose_conc"] = df_pimas["glucose_conc"].replace(0,df_pimas["glucose_conc"].mean())
df_pimas["bmi"] = df_pimas["bmi"].replace(0,df_pimas["bmi"].mean())
df_pimas["skin"] = df_pimas["skin"].replace(0,df_pimas["skin"].mean())

In [9]:
df_pimas.isin([0]).sum()

num_preg        111
glucose_conc      0
diastolic_bp     35
thickness       226
insulin         373
bmi               0
diab_pred         0
age               0
skin              0
diabetes        500
dtype: int64

In [13]:
df_pimas.index.rename("id", inplace=True)
df_pimas.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
id,,,,,,,,,,
0,6,148.0,72.000000,35.000000,0.0,33.6,0.627,50,1.379000,True
1,1,85.0,66.000000,29.000000,0.0,26.6,0.351,31,1.142600,False
2,8,183.0,69.112125,0.000000,0.0,23.3,0.672,32,0.809136,True
3,1,89.0,66.000000,20.528105,94.0,28.1,0.167,21,0.906200,False
4,0,137.0,40.000000,35.000000,168.0,43.1,2.288,33,1.379000,True

In [14]:
df_pimas.to_csv("data/pima-data-norm.csv")